.formations {
  width: 100vw;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 219, 189, 0.6);

  .cardsContainer {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;

    .card1 {
      margin-top: 5%;
      background-image: linear-gradient(
          rgba(126, 96, 67, 0.5),
          rgba(134, 96, 71, 0.5)
        ),
        url("../../assets/card1.jpg");
      background-size: cover;
    }
    .card2 {
      background-image: linear-gradient(
          rgba(126, 96, 67, 0.5),
          rgba(134, 96, 71, 0.5)
        ),
        url("../../assets/card2.jpg");
      background-size: cover;
      span {
        font-size: 23px;
        text-decoration: line-through;
      }
    }
    .card3 {
      margin-top: 5%;
      background-image: linear-gradient(
          rgba(126, 96, 67, 0.5),
          rgba(134, 96, 71, 0.5)
        ),
        url("../../assets/card3.jpg");
      background-size: cover;
    }

    .card {
      width: 28%;
      height: 80%;
      border-radius: 10px;
      background-size: cover;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      transition: transform 0.1s;
      color: white;

      .info {
        font-size: 10px;
        text-decoration: none;
        padding: 0 15px;
      }

      h2 {
        font-size: 40px;
      }

      p {
        font-size: 26px;
      }

      .link {
        width: 50%;
      }
      button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgba(17, 67, 100, 0.7);
        font-weight: bold;
        cursor: pointer;
      }

      button:hover {
        background-color: rgba(57, 116, 155);
        color: white;
      }
    }

    .card:hover {
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      box-shadow: 6px 6px 6px rgba(17, 67, 100, 0.5);
    }
  }
}
